p {
    /* font-family: Roboto, Arial; */
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: roboto, Arial;

    margin: 0;

    padding-top: 80px;
    padding-left: 94px;
    padding-right: 36px;

    background-color: rgb(247, 247, 247);
}

a{
    text-decoration: none;
    color: black;
}